<!DOCTYPE html>
{{#if opengraph}}
<html prefix="og: http://ogp.me/ns#" lang="{{html.lang}}"/>
{{else}}
<html lang="{{html.lang}}">
{{/if}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="{{config 'themeColor'}}" />

  <meta name="description" content="{{description}}" />

  {{> 'opengraph' opengraph}}  

  <title>{{title}}</title>
</head>
<body>
  {{{content}}}
</body>
</html>