<!DOCTYPE html>
{{#if opengraph}}
<html prefix="og: http://ogp.me/ns#" lang="{{html.lang}}"/>
{{else}}
<html lang="{{html.lang}}">
{{/if}}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="{{config 'themeColor'}}" />

  <meta name="description" content="{{description}}" />

  {{> 'opengraph' opengraph}}  

  <title>{{title}} /// {{config 'siteName'}}</title>

  <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
  <link href="/build/materialize" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/src/init.js"></script>
</head>
<body>
  <header>
    {{> 'nav'}}
  </header>

  <main>
    <div class="container">
    {{{body}}}
    </div>
  </main>

  <footer>

  </footer>
</body>
</html>